$icon-font-path: '../fonts/';

@import "imports/variables";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@media (min-width: $screen-md-min) {
  header {
    margin-bottom: 50px;
  }

  .main {
    border-right: 1px solid;
    border-color: $faint-color;
    padding-right: 50px;
  }

  .sidebar {
    padding-left: 50px;
    padding-right: 0;
  }

  .menu {
    padding: 80px 15px;
  }

  .navbar-collapse {
    padding: 0;
  }
}

@media (max-width: $screen-md-min) {

  article {
    .title {
      margin-top: 20px;
    }
  }

  .contact-info {
    margin-top: 20px;
  }

  .sidebar {
    margin-bottom: 50px;
  }

  .logo {
    padding: 5vh;
  }

  .jumbotron {
    .title {
      font-size: $font-large;
    }
    p {
      font-size: $font-medium;
    }
  }
}
