@import "imports/variables";
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  margin: 0;
  background: $bg-color;
  font-size: $font-small;
}

.cancel {
  width: 100%;
}

.title {
  margin-bottom: 20px;
  font-family: 'Lobster', cursive;
  font-size: $font-large;
  color: $first-color;
}

.site-footer {
  border-top: 1px solid;
  border-color: $faint-color;
  margin-top: 200px;
  text-align: center;
  padding: 30px 0;
}

.menu {
  li.active a {
    background-color: $first-color !important;
    color: $bg-color !important;
  }

  li:hover a {
    text-decoration: underline;
  }
}

.thumbnail {
  height: auto;
  img {
    width: 100%;
  }
}

.marked,
cite {
  color: $first-color;
}

a {
  color: $first-color;
}

a:hover {
  color: $second-color;
}


h1,h2,h3,h4,h5,h6,ul,li {
  margin: 0;
  padding: 0;
}

article {
  img {
    width: 100%;
  }
}

header {
  nav {
    font-size: $font-small;

    li {
      margin-right: 20px;
      display: inline-block;
    }
  }
}

.custom-logo {
  width: 100%;
  height: auto;
}

.contact {
  form {
    button {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      font-size: $font-small;

      .loading {
        display: none;
      }
    }

    .alert {
      display: none;
    }
  }
}

.contact-info {
  width: 100%;
  margin-top: 70px;

  tr td:first-of-type {
    padding: 0 20px 20px 0;
    text-align: center;
  }
  tr td:last-of-type {
    padding: 0 0 20px 20px;
  }

  i {
    font-size: 25px;
  }
  p {
    margin: 0;
  }

}

.contact-me {
  text-align: center;
  margin-bottom: 30px;
}

.navbar-right {
  margin: 0;
  padding: 8px;
  height: 100%;
  button {
    height: 100%;
  }
}

.gallery {
  font-size: 0;
  flex-flow: row wrap;
  display: flex;  
}

.gallery a {
  flex: auto;
  width: 200px;
  padding: .5vw;
}

.gallery a img {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 400px) {
  .gallery a { margin: 0; }
  .gallery { padding: 0; }

}


